.form-control{
    width: 500px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 9px;
    margin: 5px;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-warning{
    margin-top: 5px;
}
.badge {
    margin-top: 20px;
    margin-bottom: 20px;
}
