.form-group{
    width: 500px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 9px;
    margin: 10px;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-warning{
    margin-top: 5px;
    margin-left: 10px;
}
.btn-info{
    margin-top: 10px;
    margin-left: 10px;
}
.badge {
    margin-left:10px;
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#complain-link{
width:200px;
}